.fifth-section {
  padding: 73px 50px 152px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../img/ellipse-5-sec-bg.png') right bottom no-repeat;

  @media (max-width: 768.98px) {
    padding: 31px 20px 58px;
    background: none;
  }

  &__title {
    margin-bottom: 76px;

    @media (max-width: 768.98px) {
      margin-bottom: 53px;
    }
  }

  &__content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 148px;

    @media (max-width: 1320.98px) {
      gap: 25px;
    }

    @media (max-width: 768.98px) {
      flex-direction: column;
    }
  }

  &__image-wrapper {
    max-width: 700px;
  }

  &__form-subtitle {
    display: inline-block;
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 800;
    line-height: 32px;
    color: $black-title;
    text-transform: uppercase;

    @media (max-width: 768.98px) {
      display: none;
    }

    &_mobile {
      display: none;

      @media (max-width: 768.98px) {
        display: inline-block;
        margin-bottom: 25px;
        font-size: 17px;
        line-height: 25px;
        text-align: center;
      }
    }
  }

  &__form {
    display: flex;
    gap: 16px;

    @media (max-width: 1620.98px) {
      flex-direction: column;
    }

    @media (max-width: 768.98px) {
      gap: 40px;
      align-items: center;
    }
  }

  &__form-input {
    padding: 19px 30px;
    width: 430px;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    font-size: 16px;
    color: #a3a3a3;

    @media (max-width: 768.98px) {
      padding: 15px 30px;
      width: 320px;
    }

    &::placeholder {
      font-size: 16px;
      color: #a3a3a3;
    }
  }

  &__form-button {
    width: 243px;
    border: none;

    @media (max-width: 1620.98px) {
      width: 430px;
    }

    @media (max-width: 768.98px) {
      width: 290px;
    }
  }
}
